/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  font-family: "Roboto", sans-serif;
  background-color: #fffbed;
  justify-content: space-between;
}
button{
  cursor: pointer;
}

hr {
  background-color: #fffbed;
  opacity: 0.2;
  margin: 18px 0px;
}
.wrapper-for-all{
  padding: 0 110px;
}
.sidebar-and-card{
  /* background-color: red; */
  display: flex;
  margin-top: 40px;
}



.delivery-and-sidebar{
  width: 85%;
  margin: 0 auto;
  display: flex;
  /* background-color: rgb(101, 101, 206); */
  display: flex;
  justify-content: space-between;
}
.first{
  font-size: 28px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0.01em;
}
.delivery-sidebar{
  width: 900px;
}

.second{
  margin-top: 30px;
  margin-bottom: 30px;
}

.third{
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0.01em;
}
.sidebars{
    display: flex;
    flex-direction: column;
    width: 22%;
}
.sidebars .top-sidebar{
  width: 100%;
}

.card-block{
  margin-left: 20px;
}
.cards{
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;

  .first-card{
    margin-top: 20px;
    width: 260px;
    /* height: 320px; */
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid gray;

    .oval-svg{
      width: 60px;
      height: 60px;
      background-color: #FD9339;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 25px;
      .first-oval-svg{
        width: 30px;
        height: 30px;
      }
    }

    .fourth{
      font-size: 20px;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: 0.01em;
      margin-bottom: 10px;
    }
    .fifth{
      font-family: Roboto;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: #808080;
    }
  }
}
.delivery-type{
  display: flex;
  margin-top: 50px;
  flex-direction: column;

  .top-block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    .delivery-some-text{
      /* width: 304px; */

      .delivery-h3-text{
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 800;
        line-height: 32px;
        letter-spacing: 0.01em;
      }
      .delivery-h4-text{
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0.01em;
      }
      .delivery-p-text{
        color: #808080;
        width: 340px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
      }
      .delivery-p-text-two{
        color: #FD9339;
        width: 340px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
      }
      .delivery-last-text{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .delivery-p-text-three{
          font-family: Roboto;
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          width: 290px;
          margin-left: 20px;
        }
      }
    }
    .delivery-some-img{
      img{
        border-radius: 5px;
      }
    }
  }
  .bottom-block{
    display: flex;
    justify-content: space-between;

    .delivery-some-text-two{
      display: flex;
      flex-direction: column;
      width: 380px;

      .delivery-h5-text{
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0.01em;
      }
      .delivery-p-text-four{
        color: #808080;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
      }
    }
    .delivery-some-img-two{
      img{
        border-radius: 5px;
      }
    }
  }
}
.delivery-price{
  width: 85%;
  margin: 0 auto;
  margin-bottom: 160px;
  margin-top: 60px;
  /* background-color: cadetblue; */

  .first-delivery-price{
    background-color: #4E2D2D;
    padding: 0 20px;
    display: flex;
    height: 52px;
    align-items: center;
    width: 100%;

    .first-section-price{
      width: 280px;
      background-color: #4E2D2D;

      .hidden-price{
        color: #4E2D2D;
      }
    }
    .second-section-price{
      width: 300px;
      background-color: #4E2D2D;
      color: white;
    }
    .third-section-price{
      width: 375px;
      background-color: #4E2D2D;
      color: white;
    }
    .fourth-section-price{
      width: 325px;
      background-color: #4E2D2D;
      color: white;
    }
  }
  .second-delivery-price{
    display: flex;
    height: 52px;
    padding: 0 20px;
    align-items: center;
    background-color: #FBE8BB;

    .first-section-price{
      width: 280px;
      color: #292929;
    }
    .second-section-price{
      width: 300px;
      color: #292929;
    }
    .third-section-price{
      width: 385px;
      color: #292929;
    }
    .fourth-section-price{
      width: 325px;
      color: #292929;
    }
  }
  .third-delivery-price{
    display: flex;
    padding: 0 20px;
    height: 62px;
    align-items: center;
    background-color: #FFFBED;

    .first-section-price{
      width: 280px;
      color: #292929;
    }
    .second-section-price{
      width: 300px;
      color: #292929;
    }
    .third-section-price{
      width: 385px;
      color: #292929;
    }
    .fourth-section-price{
      width: 325px;
      color: #292929;
    }
  }
  .fourth-delivery-price{
    display: flex;
    padding: 0 20px;
    height: 52px;
    align-items: center;
    background-color: #FBE8BB;

    .first-section-price{
      width: 280px;
      color: #292929;
    }
    .second-section-price{
      width: 300px;
      color: #292929;
    }
    .third-section-price{
      width: 385px;
      color: #292929;
    }
    .fourth-section-price{
      width: 325px;
      color: #292929;
    }
  }
}

.delivery-and-payment-link{
  text-decoration: none;
  color: #292929;
}
.ans-and-quest-link{
  text-decoration: none;
  color: #292929;
}
.ingredients--promo{
  display: flex;
  align-self: center;
}

.ingredients-h4{
  font-family: Circe Rounded;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #FD9339;
  text-decoration: underline;
}

.promo-p{
  margin-left: 20px;
  font-family: Circe Rounded;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #808080;
  letter-spacing: 0.01em;
}

.top-sidebar{
    width: 280px !important;
    margin-bottom: 20px;
    border-radius: 8px 8px 8px 8px;
    background-color: white;
    border: 1px solid gray;
}

.card-h2-ingredients{
  font-family: Circe Rounded;
  font-size: 22px;
  font-weight: 700;
  color: #4E2D2D;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.header-of-sidebar{
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    height: 48px; 
    background-color: #FBE8BB;
    border-radius: 8px 8px 0 0; 
}

.middle-of-sidebar{
    width: 100%;
    height: 100%;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 0 0 8px 8px;
}

.first-loc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height: 48px; */
    padding: 10px 15px 10px 10px;
    border-top: 1px solid gray;
    
      &:active{
        background-color: #FAE8A8;
      }
}

.receipt-menu-p{
  cursor: pointer;
}

.receipts-h4{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    margin-left: 5px;
}

.block-of-card{
  width: 998px;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;

  .block-one{
    display: flex;
    width: 100%;
    /* background-color: aqua; */
    flex-wrap: wrap;
    justify-content: space-between;

    .home-block-of-card{
      gap: 20px;
      margin-bottom: 20px;
      padding: 10px 10px;
      width: 232px;
      display: flex;
      border: 1px solid gray;
      align-items: center;
      flex-direction: column;
      background-color: white;
      border-radius: 6px;

      .hr-line{
        width: 200px;
        height: 1px;
        background-color: gray;
      }
      .txt-btn-component{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .text-prices{
          .price-and-things{
            display: flex;

            .price-p{
              font-size: 16px;
              font-weight: 400;
              line-height: 20px;
              letter-spacing: 0.01em;
            }
            .things-p{
              font-size: 12px;
              font-weight: 400;
              line-height: 20px;
              letter-spacing: 0.01em;
            }
          }
          .second-price-p{
            font-size: 13px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0.01em;
            color: #FF4F4F;
            text-decoration: line-through;
          }
        }
        button{
          background-color: #FD9339;
          border-radius: 5px;
          border: 0;
          color: white;
          padding: 7px;
          width: 90px;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
        }
      }
      .two-circles{
        display: flex;
        width: 10%;
        justify-content: space-between;
        .first-circle{
          width: 8px;
          height: 8px;
          border-radius: 100%;
          background-color: #FD9339;
        }
        .second-circle{
          width: 8px;
          height: 8px;
          border-radius: 100%;
          background-color: #E6E6E6;
        }
      }
    }
  }
}


.ans-and-quest{
  width: 100%;

  .sidebar-and-quests{
    width: 85%;
    display: flex;
    margin: 0 auto;

    .answers-to-questions{
      display: flex;
      flex-direction: column;
      margin-left: 80px;
      margin-top: 10px;

      .quest-bar{
        width: 935px;
        height: 408px;
        background-color: #FAE9B3;
        border-radius: 5px;
        border: 1px solid gray;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 25px;
        margin-top: 20px;
        margin-bottom: 40px;

        .orange-quest{
          color: #FD9339;
        }
        .quest-1{
          width: 600px;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }
      }
      .answer-bar{
        display: flex;
        flex-direction: column;
        width: 935px;
        /* margin-top: 30px; */

        .ans-1{
          font-size: 24px;
          font-weight: 700;
          line-height: 32px;
          letter-spacing: 0.01em;
        }
        .ans-2{
          margin-top: 10px;
          color: #666666;
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
        }
      }
      .last-hr-in-ans-and-quest{
        margin-bottom: 60px;
      }
    }
  }
}

.receipts {
  width: 85%;
  margin: 0 auto;
  display: flex;
  gap: 20px;

}

.receipts-link {
  text-decoration: none;
  color: #292929;
}

.receipts-type {
  margin-top: 100px;
  margin-left: -200px;
  ol {
    display: flex;
    align-items: center;
    gap: 40px;
    li {
      list-style: none;
    }
  }
  .receipts-type-two {
    padding-top: 40px;
  }
}

.receipts-last-update {
  padding-top: 100px;
  .receipts-type-button {
    width: 212px;
    height: 48px;
    background-color: #FD9339;
    color: white;
    border-radius: 5px;
    border: 1px solid #FD9339;
    margin-top: 20px;
    margin-left: 350px;
    }
}

.receipts-last-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
  .receipts-last-box {
    width: 280px;
    height: 350px;
    background-color: whitesmoke;
    h3,p,button {
      padding-left: 20px;
    }
    button {
      background-color: whitesmoke;
      border: 1px solid whitesmoke;
      color: #FD9339;
    }
  }
}

.reviews-link {
  text-decoration: none;
  color: black;
}

.reviews-wrapper {
  width: 85%;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  .reviews-comment {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: -200px;
    margin-left: -200px;
  }
  .reviews-comment-two {
    margin-top: 550px;
    margin-left: -860px;
    display: flex;
    align-items: center;
    gap: 20px;
    
  }
}


/* SIDEBAR LINKS STYLE START */

.links{
  color:#1b1919;
  text-decoration: none;
}

/* SIDEBAR LINKS STYLE END */


.category__main{
  z-index: 1;
}

.container{
  width: 85%;
  margin: 0 auto;
}

.link{
  text-decoration: none !important;
}

/* Contact */

.Contact--hero{
  width: 820px;
  margin: 0 auto;
  padding-left: 80px;
}



.contact__sidebar{
    width: 85%;
    margin: 0 auto;
    display: flex;
    
}

.contact--border__top{
  width: 830px;
    background-color: #fffbed;
    opacity: 0.2;
    margin: 18px 0px;
  padding-left: 80px;
}

.Contact__telefon{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
}

.contact__iteam__list{
  display: flex;
  list-style: none;
  gap: 70px;
  margin-top: 30px;
}

.contact__iteam__h3{
  font-size: 16px;
  color: #4E2D2D;
  line-height: 24px;
  
}

.phone{
  font-size: 24px;
  color: #4E2D2D;
  width: 233px;
  line-height: 35px;
}

.ins{
  font-size: 14px;
  color: #4E2D2D;
  text-decoration: none;
}

.cubbota{
  font-size: 14px;
  color: #666666;
  width: 170px;
  line-height: 25px;
}

.cubbota1{
  font-size: 14px;
  color: #666666;
  width: 250px;
  line-height: 25px;
}

.contact__h31{
  margin-left: 80px ;
  font-size: 34px;
  color: #4E2D2D;
}

.contact--border__top{
  margin-left: 80px;
  position: absolute;
}

.contact--border__top__one{
  width: 830px;
  margin-top: 30px;
}

.contact__input{
  width: 380px;
  height: 48px;
  padding-left: 16px;
  margin-top: 10px;
  border: 2px solid #E7E7E7;
  border-radius: 6px;
}

.contact__input1{
  width: 380px;
  height: 96px;
  padding-left: 16px;
  font-size: 16px;
  color: #808080;
  margin-top: 10px;
  padding-top: 12px;
  border: 2px solid #E7E7E7;
  border-radius: 6px;
}


.contact__btn{
  width: 212px;
  height: 56px;
  background-color: #FD9339;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 5px;
  line-height: 24px;
  border: 2px solid #fff;
  margin-top: 5px;
} 


.Contact__xarita{
  margin-top: 80px;
  display: flex;
}

.contact__xarita--h3{
  font-size: 28px;
  line-height: 40px;
  color: #4E2D2D;
  letter-spacing: 1%;
}

.contact__xarita--p{
  font-size: 16px;
  color: #808080;
  line-height: 24px;
  margin-top: 10px;
}

.Contact__xarita--imags{
  width: 400px;
  height: 344px;
  margin-top: 15px;
  margin-left: 40px;
}

.contact-paragraph{
  font-size: 14px;
  color: #292929;
  line-height: 22px;
  list-style: none;
}

.contact--link__p{
  text-decoration: none;
}
/* Profile */

.profile--iteam--ol{
  display: flex;
  gap: 11px;
  text-decoration: none;
  list-style: none;
}

.profile__iteam{
  width: 1300px;
  margin: 0 auto;
}

.profile__glavni{
  font-size: 14px;
  color: #808080;
  line-height: 22px;
  letter-spacing: 1%;
}

.profile__kabinit{
  font-size: 14px;
  color: #FD9339;
  align-items: center;
}

.moy_profile{
  display: flex;
  text-decoration: none;
  list-style: none;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
}

.moy_profile--list{
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile__alfa{
  font-size: 16px;
  color: #4E2D2D;
  line-height: 24px;
  text-decoration: none;
}

.moy_profile_kobinit{
  color: #4E2D2D;
  font-size: 28px;
  line-height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.information{
  width: 1180px;
  height: 300px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  text-decoration: none;
  list-style: none;
 
  
}

.information__shadow{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 60px 40px 60px 40px;
  
}

.information--anfalova{
  font-size: 24px;
  line-height: 32px;
  color: #4E2D2D;
  margin-bottom: 20px;
}

.information__list{
  display: flex;
  
}

.information__list{
  p{
    font-size: 16px;
    line-height: 32px;
    color: #808080;
    
  }
}

.information__ins{
  font-size: 16px;
    line-height: 32px;
    color: #292929;
    margin-left: 50px;
    text-decoration: none;
    
}

.information__ins1{
  margin-left: 105px;
  text-decoration: none;
}

.information__ins2{
  margin-left: 130px;
  text-decoration: none;
}

.information__left{
  font-size: 16px;
  line-height: 32px;
  color: #FD9339;
  border-bottom: 2px solid #FD9339;
  width: 220px;
  
}




.cart--order {
  width: 85%;
  margin: 0 auto;
  .cart--contact {
    width: 780px;
    padding: 30px;
    background-color: #fff;
    border-radius: 2px;
    margin-top: 30px;
    h2 {
      font-size: 18px;
      padding-left: 30px;
      padding-top: 20px;
    }
    .cart--wrapper {
      display: flex;
      justify-content: space-between;
      gap: 40px;
      .cart-inp-one , .cart-inp-two {
        input {
          width: 340px;
          height: 48px;
          margin-top: 15px;
          padding: 20px;
          border-radius: 5px;
          border: 1px solid #E7E7E7;
        }
      }
    }
  }
  .cart--order--name {
    width: 780px;
    height: 580px;
    background-color: #fff;
    border-radius: 2px;
    margin-top: 30px;
    h2 {
      font-size: 18px;
      padding-left: 30px;
      padding-top: 20px;
    }
    span {
      padding-left: 600px;
    }
    .cart--order--name--one {
      display: flex;
      gap: 20px;
      margin-left: 30px;
      b {
        color: #FD9339;
      }
    }
    .onclick-btn{
      margin-left: 30px;
    }
    .onclick-btn button{
      width: 36px;
      height: 36px;
      border: 1px solid #80808033;
      border-radius: 2px;
      font-size: 18px;
      font-weight: 400;
      color: #292929;
      opacity: 0.8;
    }
  }
  .cart--order--select {
    width: 780px;
    height: 630px;
    background-color: #fff;
    border-radius: 2px;
    margin-top: 30px;
    h2 {
      font-size: 18px;
      padding-left: 30px;
      padding-top: 20px;
    }
    .order--select {
      display: flex;
      padding-left: 30px;
      gap: 20px;
      b {
        color: #FD9339;
      }
    }
    .cart--pay--select {
      display: flex;
      gap: 10px;
      padding-left: 30px;
      .cart-pay-one {
        input {
          width: 350px;
          height: 48px;
          margin-top: 20px;
          padding: 20px;
          border-radius: 5px;
          border: 1px solid gray;
        }
      }
      .cart-pay-two {
        display: flex;
        p {
          font-size: 14px;
          padding-left: 10px;
          b {
            color: #FD9339;
          }
        }
      }
    }
  }
  .cart--order--cash--select {
    width: 780px;
    height: 242px;
    background-color: #fff;
    border-radius: 2px;
    margin-top: 30px;
    h2 {
      font-size: 18px;
      padding-left: 30px;
      padding-top: 20px;
    }
    .order--select--cash {
      padding-left: 30px;
      span {
        padding-left: 10px;
      }
    }
  }
  .cart--container--inner-two {
    width: 380px;
    height: 526px;
    background-color: #FBE8BB;
    margin-top: 30px;
    h2  {
      padding-left: 20px;
      padding-top: 10px;
    }
    p {
      padding-left: 20px;
    }
    .cart-promokod {
      padding-left: 20px;
      padding-top: 10px;
      display: flex;
      input {
        width: 320px;
        height: 48px;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid #E7E7E7;
      }
      p {
        position: absolute;
        left: 1140px;
        top: 457px;
      }
    }
    .cart--sum {
      display: flex;
      gap: 140px;
    }
    .cart--sum-two {
      display: flex;
      gap: 200px;
    }
    .cart--sum-three {
      display: flex;
      gap: 170px;
    }
    .cart--sum-four {
      display: flex;
      gap: 160px;
      margin-left: 20px;
    }
    button {
      width: 320px;
      height: 56px;
      background-color: #FD9339;
      color: white;
      border-radius: 5px;
      border: 1px solid #FD9339;
      margin-left: 20px;
    }
    button:hover {
      width: 320px;
      height: 56px;
      background-color: white;
      color: #FD9339;
      border-radius: 5px;
      border: 1px solid #FD9339;
      margin-left: 20px;
    }
  }
}

.cart--container {
  display: flex;
  gap: 20px;
}

